<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211047392535-52qaeom2g04rj57si5khf40prjk98g4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211047392535-52qaeom2g04rj57si5khf40prjk98g4o</string>
	<key>API_KEY</key>
	<string>AIzaSyBwA_SxVVH_B14QkJgwG4yeNqFjdnaImKE</string>
	<key>GCM_SENDER_ID</key>
	<string>211047392535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rundax.wallet</string>
	<key>PROJECT_ID</key>
	<string>rundax-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>rundax-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211047392535:ios:2239d217ea016b0187c352</string>
	<key>DATABASE_URL</key>
	<string>https://rundax-wallet.firebaseio.com</string>
</dict>
</plist>